* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
button {
  width: 100px;
  height: 20px;
  font-size: 1rem;
  border-radius: 5px;
}
.right {
  height: 100vh;
  background-color: aqua;
  // padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  font-size: 20px;
}
.button {
  display: flex;
  gap: 2rem;
  width: 550px;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  font-size: 25px;
}
.box {
  display: flex;
  gap: 3rem;
  padding-top: 1rem;
  font-size: 20px;
  #clear {
    margin-top: 10px;
  }
  #buy {
    margin-top: 10px;
  }
}
button:hover {
  background-color: red;
}
button:active {
  background-color: green;
}
.left{
  .imd1{
    background-image:url(./../burger-layers/cheese.png);
  }
}
